@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-caption {
        bottom: 300px;
    }

    .carousel-caption p {
        width: 100%;
    }
}


@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }

    .carousel-caption {
        bottom: 150px;
    }

    .carousel-caption h5 {
        font-size: 30px;
    }

    .carousel-caption a {
        padding: 10px 15px;
        font-size: 15px;
    }

    .carousel-caption p {
        width: 100%;
        line-height: 1.6;
        font-size: 20px;
    }
}


@media(min-width: 760px) {

    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contact-wrapper>* {
        padding: 2em;
    }

    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}

@media (max-width:770px) {
    .contacto {
        padding: 0px;
        flex-direction: column;
        margin: 0;

    }

    .contacto div {
        flex-direction: column;
    }

    .contacto img {
        width: 300px;

    }

    .contacto div h2 {
        font-size: 50px;
        width: 20px;
    }

    .contacto ul li {
        width: 100%;

    }

    .google {
        align-items: center;

    }
}
@media (max-width:770px) {
    .btn-2 {
        align-items: center;
    }

    .footer {
        padding: 30px 30px 0 30px;
    }

    .footer-links {
        flex-direction: column;
        text-align: center;
    }

    .link-img {
        margin-bottom: 15px;
    }
}

@media screen and (max-width:800px){
    .container-img{
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-template-rows: 200px;
    }
    .container-img .box-img:nth-child(1){
        grid-column-start: span 1;
    }
}
@media screen and (max-width:500px){
    .container-img{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }
    .container-img .box-img img{
        height: 200px;
    }
}


@media (max-width:991px) {

    .home {
        background-position: 1 left;
    }
}

@media (max-width:768px) {
    .home .content h3 {
        font-size: 5rem;
    }

    .home .content span {
        font-size: 3rem;
    }

    .icons-container .icons h3 {
        font-size: 2rem;
    }

    .icons-container .icons span {
        font-size: 0.8rem;
    }
}

@media (max-width:450px) {
    .heading {
        font-size: 3rem;
    }
}